{% extends "base.html" %}

{% block content %}
<div class="container col-md-6">
    <form method='POST' action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="mr-auto" style="font-size: 1.8rem;">Add new note</legend>
            
            <div class="form-group">
                <div>{{ form.title.label() }}</div>
                <div>{{ form.title(class="form-control") }}</div>
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <div>{{ form.text.label() }}</div>
                <div>{{ form.text(class="form-control") }}</div>
                {% if form.text.errors %}
                    {% for error in form.text.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>

            <div>{{ form.submit(class="btn btn-primary") }}</div>
        </fieldset>
    </form>    
</div>
{% endblock content %}