{% extends "base.html" %}

{% block content %}
<div class="container col-md-6">
    <form method='POST' action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="mr-auto" style="font-size: 1.8rem;">Calculate triangle</legend>
            
            <div class="form-group">
                <div>{{ form.height.label() }}</div>
                <div>{{ form.height(class="form-control") }}</div>
                {% if form.height.errors %}
                    {% for error in form.height.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <div>{{ form.angle.label() }}</div>
                <div>{{ form.angle(class="form-control") }}</div>
                {% if form.angle.errors %}
                    {% for error in form.angle.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>

            <div>{{ form.submit(class="btn btn-primary") }}</div>
        </fieldset>
    </form>
    <p>{{ result }}</p>
</div>
{% endblock content %}